{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="oil_main">
	<div class="curPosition"><a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}</div>
	{template 'mall/top_hot'}
    <div class="oil_tyleft oil_cpleft">
    	<div class="oilbor oilmgbt">
            <div class="zldownloadss">
            <form action="{$MOD[linkurl]}search.php" method="get">
            <input type="text" name="kw" class="downtxt" placeholder="请输入您需要下载的资料名称" /><input type="submit" name="downbtn" class="downbtn" value="搜索" />
            </form><div class="clear"></div></div>
        </div>
        <div class="oilmgbt cp_class_db">
        	<table cellpadding="0" cellspacing="0" class="cp_list_table" width="100%">
    			<tbody>
                <tr class="bg1">
                	<td width="60%">资料名称</td>
                    <td width="17%">上传者</td>
                    <td width="23%">时间</td>
                </tr>
               {loop $tags $i $t}
                <tr>
                	<td><img src="{DT_PATH}file/ext/{$t[fileext]}.gif" align="absmiddle"/><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></td>
                    <td align="center">{$t[username]}</td>
                    <td align="center">{timetodate($t[addtime], 3)}</td>
                </tr>
                {/loop}
            	</tbody>
            </table>
        </div>
        {if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
    </div>
    <div class="oil_tyright">
    	<div class="oilbor oilmgbt">
        	<div class="tycut"><i></i>按分类浏览</div>
            <div class="oiltjtw">
            {loop $maincat $k $v}
            	<p class="zlfl_p"><i></i><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a></p>
              {/loop}
            </div>
        </div>
        <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic5.jpg" /></a></div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>下载排行</div>
            <div class="oiltjtw">
<!--{tag("moduleid=$moduleid&condition=status=3&catid=$catid&order=download desc&pagesize=10&class=oillistnw ulwd")}-->
            </div>
        </div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>推荐{$MOD[name]}</div>
            <div class="oiltjtw">
         
                <!--{tag("moduleid=$moduleid&condition=status=3 and level>0&pagesize=10&order=addtime desc&template=list-down&class=oillistnw ulwd")}-->
            </div>
        </div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>石油百科</div>
            <div class="oiltjtw">
      
                	<!--{tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=5&order=rand()&length=20&width=120&height=90&cols=2&class=oillistnw ulwd", -2)}-->
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{template 'footer'}
