/config.inc.php
/baidu_verify_YYm6thlZt5.html
/file/upload
/file/avatar
/file/cache
/file/backup
/file/email
/file/captcha
/file/chat
/file/config
/file/data
/file/md5
/file/ext
/file/flash
/file/font
/file/image
/file/ipdata
/file/log
/file/update
/file/user
/file/mobile
/file/session
/file/setting
/file/static
/file/script
/file/table
/file/temp
/sftp-config.json
/index.html
*.bak
*æ‹·è´*
*.idea*
*_notes*
*拷贝.htm
*副本.htm