<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>

<div class="oilbor oilmgbt">
    		<div class="oil_cpsx">产品筛选</div>
            {if $brandid or $catid}
            <div class="cpsx_items">
            	<div class="sx_mc ">已选分类：</div><div class="sx_rg xg_add_yxbq">
                {cat_pos_jd($CAT, '  ')}
       {if $brandid}
         		<?php $brandRow = getBrandName($brandid); ?>
               已选品牌：    <a href="{$MODULE[16][linkurl]}search.php?brandid=&catid={$catid}"  >{$brandRow['title']}<i>X</i></a> {/if}
                </div>
                <div class="clear"></div>
            </div>
            {/if}
            <div class="cpsx_items" {if $brandid} style="display:none"{/if}>
            	<div class="sx_mc">品牌：</div><div class="sx_rg">
                 <!--{php $btags=tag("moduleid=13&condition=status=3 and level=1&areaid=$cityid&pagesize=10&order=addtime desc&template=null");}-->
                  {loop $btags $t}
                  {if $brandid }
                   <a href="{$MODULE[16][linkurl]}search.php?brandid=&catid={$catid}" {if $brandid==$t['itemid']} style="color:red"{/if} target="_self">{$t['title']}</a>
                  {else}
                <a href="{$MODULE[16][linkurl]}search.php?brandid={$t['itemid']}&catid={$catid}" {if $brandid==$t['itemid']} style="color:red"{/if} target="_self">{$t['title']}</a>
                {/if}
                {/loop}
                </div>
                <div class="clear"></div>
            </div>
            
            <div class="cpsx_items" style="display:none">
            	<div class="sx_mc">选择分类：</div><div class="sx_rg">
                {if $parentid >= 0}
                {php $parentsub = get_maincat($parentid, 16, 1);}
               		{loop $parentsub $k $v}
			{if $brandid }
             <a href="{$MODULE[16][linkurl]}search.php?brandid={$brandid}&catid={$v[catid]}"{if $v[catid]==$catid} style="color:red"{/if} target="_self">{set_style($v[catname],$v[style])}</a>
            {else}
			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} style="color:red"{/if} target="_self">{set_style($v[catname],$v[style])}</a><!--{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>-->
			{/if}
			{/loop}
            {/if}
                </div>
                <div class="clear"></div>
            </div>
            
          
            <div class="cpsx_items">
            	<div class="sx_mc">选择分类：</div><div class="sx_rg">
                
               		{loop $maincat $k $v}
			{if $brandid }
             <a href="{$MODULE[16][linkurl]}search.php?brandid={$brandid}&catid={$v[catid]}"{if $v[catid]==$catid} style="color:red"{/if} target="_self">{set_style($v[catname],$v[style])}</a>
            {else}
			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} style="color:red"{/if} target="_self">{set_style($v[catname],$v[style])}</a><!--{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>-->
			{/if}
			{/loop}
                </div>
                <div class="clear"></div>
            </div>
   
   
    
         {loop $PPT $p}
     <div class="cpsx_items">
            	<div class="sx_mc">按{$p[name]}：</div><div class="sx_rg">
                
               		
			{loop $p[options] $o}
            {php $ppto =  'ppt_'.$p[oid];}
  
			<a href="{$MOD[linkurl]}search.php?brandid={$brandid}&catid={$catid}&ppt_{$p[oid]}={urlencode($o)}" {if $$ppto==$o} style="color:red"{/if} target="_self">{$o}</a>
			{/loop}
                </div>
                <div class="clear"></div>
            </div>
    {/loop}         



        </div>