<div class="oilbor oilmgbt">
    		<div class="oil_cpsx">产品筛选</div>
            {if $brandid or $catid}
            <div class="cpsx_items">
            	<div class="sx_mc">已选标签：</div><div class="sx_rg">
                {cat_pos_jd($CAT, ' » ')}
       
         <?php $brandRow = getBrandName($brandid); ?>
                   <a href="{$MODULE[16][linkurl]}search.php?brandid=&catid={$catid}" {if $brandid==$t['itemid']} style="color:red"{/if}>{$brandRow['title']}</a> 
                 
          
             
                </div>
                <div class="clear"></div>
            </div>
            {/if}
            <div class="cpsx_items">
            	<div class="sx_mc">品牌：</div><div class="sx_rg">
                 <!--{php $btags=tag("moduleid=13&condition=status=3 and level=1&areaid=$cityid&pagesize=5&order=addtime desc&template=null");}-->
                  {loop $btags $t}
                  {if $brandid }
                   <a href="{$MODULE[16][linkurl]}search.php?brandid=&catid={$catid}" {if $brandid==$t['itemid']} style="color:red"{/if}>{$t['title']}</a>
                  {else}
                <a href="{$MODULE[16][linkurl]}search.php?brandid={$t['itemid']}&catid={$catid}" {if $brandid==$t['itemid']} style="color:red"{/if}>{$t['title']}</a>
                {/if}
                {/loop}
                </div>
                <div class="clear"></div>
            </div>
            
            <div class="cpsx_items">
            	<div class="sx_mc">请选择：</div><div class="sx_rg">
                {if $parentid >= 0}
                {php $parentsub = get_maincat($parentid, 16, 1);}
               		{loop $parentsub $k $v}
			{if $brandid }
             <a href="{$MODULE[16][linkurl]}search.php?brandid={$brandid}&catid={$v[catid]}"{if $v[catid]==$catid} style="color:red"{/if}>{set_style($v[catname],$v[style])}</a>
            {else}
			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} style="color:red"{/if}>{set_style($v[catname],$v[style])}</a><!--{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>-->
			{/if}
			{/loop}
            {/if}
                </div>
                <div class="clear"></div>
            </div>
            
            {if $child > 0}
            <div class="cpsx_items">
            	<div class="sx_mc">下级：</div><div class="sx_rg">
                
               		{loop $maincat $k $v}
			{if $brandid }
             <a href="{$MODULE[16][linkurl]}search.php?brandid={$brandid}&catid={$v[catid]}"{if $v[catid]==$catid} style="color:red"{/if}>{set_style($v[catname],$v[style])}</a>
            {else}
			<a href="{$MODULE[16][linkurl]}{$v[linkurl]}" {if $v[catid]==$catid} style="color:red"{/if}>{set_style($v[catname],$v[style])}</a><!--{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>-->
			{/if}
			{/loop}
                </div>
                <div class="clear"></div>
            </div>
         {/if}
        </div>