{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="oil_main">
	<div class="curPosition">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}</div>
	{template 'mall/top_hot'}
    <div class="oil_tyleft oil_cpleft">
    	<div class="oilbor oilmgbt">
    		<div class="oil_cpsx">产品筛选<span>（共377734个产品）</span></div>
            <div class="cpsx_items">
            	<div class="sx_mc">品牌：</div><div class="sx_rg"><a href="#">WEIRSPM</a><a href="#">中国石油</a><a href="#">中国石化</a><a href="#">Alllson</a><a href="#">FMC</a><a href="#">WEIRSPM</a><a href="#">中国石油</a><a href="#">中国石化</a><a href="#">Alllson</a><a href="#">FMC</a></div>
                <div class="clear"></div>
            </div>
            <div class="cpsx_items">
            	<div class="sx_mc">价格：</div><div class="sx_rg"><a href="#">500-999万</a><a href="#">1000-1999万</a><a href="#">2000-2999万</a><a href="#">3000-3999万</a><a href="#">4000-4999万</a><a href="#">5000-5999万</a></div>
                <div class="clear"></div>
            </div>
            <div class="cpsx_items">
            	<div class="sx_mc">分类：</div><div class="sx_rg"><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">安全防护</a><a href="#">系统维护</a><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">安全防护</a><a href="#">系统维护</a><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">安全防护</a></div>
                <div class="clear"></div>
            </div>
        </div>
           {template 'list-'.$module.'2', 'tag'}
    </div>
    <div class="oil_tyright">
    	<div class="oilbor oilmgbt">
        	<div class="tycut"><i></i>名词翻译</div>
            <div class="oiltjtw">
            	<div class="mcfy_dv">
                <form action="{$MODULE[23][linkurl]}search.php" id="fsearch"><input type="text" name="kw" placeholder="请输入您要翻译的名词" class="fy_txt" /><input type="submit" class="fy_btn" value="查询" /></form></div>
                  <!--{php $tags=tag("moduleid=23&condition=status=3 and level=0&areaid=$cityid&pagesize=5&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                <div class="mcfy_list"><a href="{$t[linkurl]}" target="_blank">{dsubstr($t[title],20)}<font> - {$t[introduce]}</font></a></div>
                {/loop}
            </div>
        </div>
        <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic5.jpg" /></a></div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>百度百科</div>
            <div class="oiltjtw">
            	<ul class="oillistnw ulwd">
                	<!--{tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=5&order=rand()&length=20&width=120&height=90&cols=2", -2)}-->
                </ul>
            </div>
        </div>
        <div class="oilbor oilmgbt"><a href="#"><img src="{DT_SKIN}images/kefu.gif" /></a></div>
    </div>
    <div class="clear"></div>
</div>
{template 'footer'}