{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="oil_main">
	
	{template 'mall/top_hot'}
    <div class="curPosition">当前位置：<a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' » ')}</div>
    <div class="oil_tyleft oil_cpleft">
    	{template 'choose', 'mall'}
           {template 'list-'.$module.'2', 'tag'}
    </div>
    <div class="oil_tyright">
    	<div class="oilbor oilmgbt">
        	<div class="tycut"><i></i>名词翻译</div>
            <div class="oiltjtw">
            	<div class="mcfy_dv">
                <form action="{$MODULE[23][linkurl]}search.php" id="fsearch"><input type="text" name="kw" placeholder="请输入您要翻译的名词" class="fy_txt" /><input type="submit" class="fy_btn" value="查询" /></form></div>
                  <!--{php $tags=tag("moduleid=23&condition=status=3 and level=0&areaid=$cityid&pagesize=5&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                <div class="mcfy_list"><a href="{$t[linkurl]}" target="_blank">{dsubstr($t[title],20)}<font> - {$t[introduce]}</font></a></div>
                {/loop}
            </div>
        </div>
        <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic5.jpg" /></a></div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>百度百科</div>
            <div class="oiltjtw">
            	<ul class="oillistnw ulwd">
                	<!--{tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=5&order=rand()&length=20&width=120&height=90&cols=2", -2)}-->
                </ul>
            </div>
        </div>
        <div class="oilbor oilmgbt"><a href="#"><img src="{DT_SKIN}images/kefu.gif" /></a></div>
    </div>
    <div class="clear"></div>
</div>

<div class="floatdiv">
	<h5>您已经选择的基金 <a style="cursor:pointer;" onClick="hidediv()"><img src="{DT_SKIN}images/icon_7.gif" alt="" /></a></h5>
	
	<ul id="selectedplan"></ul> 
	
	<p align="center"><input type="button" name="chanpduibi" id="chanpinduibi" class="chanpinduibi" value="对比" /></p>

</div><!--end floatdiv-->
<script type="text/javascript">
var isopen=false;
//关闭div层
function hidediv(){
	$('div.floatdiv:visible').hide(); 
	isopen=false;
}
//显示div层
function showdiv(){
	$('div.floatdiv:hidden').show(); 
	isopen=true;
}
//点击图标删除此行
function delplan(obj){
	var parent=obj.parentNode;
	var id=parent.id; 
	parent.parentNode.removeChild(parent); 
	//去除选中的
	var checkid="check_"+id.substr(2,id.length);
	document.getElementById(checkid).checked=false;
}
//checkbox的点击
function actionplan(obj){
	var planid=obj.parentNode.parentNode.getAttribute("planid"); 
	var planname=obj.parentNode.parentNode.getAttribute("planname"); 
	if(isopen==false){
		showdiv();
	}
	addplan(planid,planname);
}
//选中一个元素添加到对比
function addplan(planid,planname){	
	if(document.getElementById("check_"+planid).checked){
		if($("#selectedplan li").length>3){
			document.getElementById("check_"+planid).checked=false;
			alert("您最多只能对比四个产品");
			return false;
		}
		if($("#selectedplan li").length<1){
			document.getElementById("chanpinduibi").className="chanpinduibi";
		}else{
			document.getElementById("chanpinduibi").className="chanpinduibi_xz";
		}
		$("#selectedplan").append("<li style='cursor:pointer;' id=li"+planid+"><img src={DT_SKIN}images/icon_6.gif onclick=delplan(this) style=cursor:pointer;></img>"+planname+"</li>");

	}else{
		var obj=document.getElementById("li"+planid);
		obj.parentNode.removeChild(obj);
	}
}
</script>
{template 'footer'}