{template 'header'}
{if $brand_id} <?php $brandRow = getBrandName($brand_id); ?>{/if}
<div class="oil_main">

	<div class="curPosition">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {$brandRow['title']}{$title}</div>

    <div class="oilbor oilmgbt">

    	<div class="dtail_lf">   	  
			<table width="100%">
			<tr>
			<td width="250" valign="top">
				<div id="mid_pos"></div>
				<div id="mid_div" onmouseover="SAlbum();" onmouseout="HAlbum();">
				<img src="{$albums[0]}" width="275" height="220" id="mid_pic"/><span id="zoomer"></span>
				</div>
				<div class="b5"></div>
				<div>
				{loop $thumbs $k $v}<img src="{$v}" width="66" height="66" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');" class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}
				</div>
			</td>
			<td valign="top">
				<div id="big_div" style="display:none;"><img src="" id="big_pic"/></div>
            </td>
            </tr>
            </table>
			
	     </div>

        <div class="dtail_rg">
        	<div class="rttop">

           	  <div class="cpjt">

               	<h1>{$brandRow['title']}{$title}</h1>

                  <ul>

                   	  <li><span class="sp1">件号</span><span class="sp2">{$jianhao}</span></li>

                      <li><span class="sp1">名称</span><span class="sp2">{$title}</span></li>

                      <li><span class="sp1">重量</span><span class="sp2">{$weight}千克</span></li>

                      <li><span class="sp1">尺寸</span><span class="sp2">{$size}</span></li>

                      <li><span class="sp1">品牌</span><span class="sp2">{if $brandRow['title']}<a href="{$MODULE[13][linkurl]}{$brandRow['linkurl']}" target="_blank">{$brandRow['title']}</a> {else}未填写{/if}</span></li>

                  </ul>

                  <a href="javascript:void(0)" class="kefu_btn" onclick="kefulink()">在线咨询</a>

                </div>

                <div class="cp_gg" id="OJY_SY_1075519"></div>

            </div>

            <div class="cp_xsjs">

            	<ul>

                	<li><span class="sp1">详细说明</span><span class="sp2">

                    {if $CP}

{loop $options $o} {$o['name']}: {$values[$o['oid']]} &nbsp;{/loop}

  {/if}
   {if $description} {$description} {/if}
   </span></li>

                </ul>

            </div>

        </div>

        <div class="clear"></div>

    </div>

    <div class="oil_tyleft oil_cpleft dtaillf">

    	<div class="oilbor oilmgbt">

    		<div class="tycut dtailcut"><span>推荐配件</span><div id="tjpjA"><a href="#" class="selected">关联产品</a><a href="#">内部配件</a></div></div>

            <div id="tjpjDIV">

            	<div class="dtailtjpj">

                	<a href="javascript:void(0)" class="leftdirection" id="leftdirectiontjpj"></a>


{if $producttag}
<?php
$tagarr = explode(' ',$producttag);
foreach($tagarr as $k => $v)
{
  $tagarrs[$k] = "'%".$v."%'";
}
$wheretag =  "title like ".implode(' OR title like ',$tagarrs);
?>
                	<div class="tjpj_wai" id="tjpj_list">

                    <!--{tag("moduleid=16&condition=status=3 and ($wheretag )&areaid=$cityid&pagesize=6&order=addtime desc&template=list-mall-thumb&length=16")}-->

                    </div>
{/if}
                    <a href="javascript:void(0)" class="rightdirection" id="rightdirectiontjpj"></a>

                </div>

                <div class="dtailtjpj" style="display:none;">

                    <a href="javascript:void(0)" class="leftdirection" id="leftdirectiontjpjone"></a>

                	<div class="tjpj_wai" id="tjpj_listone">

                        <!--{tag("moduleid=16&condition=status=3 and level=1 and catids like '%,254,%'  and thumb!=''&areaid=$cityid&pagesize=6&order=addtime desc&template=list-mall-thumb&length=16")}-->

                    </div>

                    <a href="javascript:void(0)" class="rightdirection" id="rightdirectiontjpjone"></a>

                </div>

            </div>

        </div>

        <div class="oilbor oilmgbt">

        	<div class="tycut dtailcut"><span>详细介绍</span></div>

            <div class="dtailtjpj dtailcontent">

            	{$content}
上一个：<!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&areaid=$cityid&pagesize=1&order=addtime asc&template=list-np", -1)}--> 下一个:<!--{tag("moduleid=$moduleid&condition=status=3 and addtime<$addtime&areaid=$cityid&pagesize=1&order=addtime desc&template=list-np", -1)}-->
            </div>

        </div>

        <div class="oilbor oilmgbt">

        	<div class="tycut dtailcut"><span>PDF资料下载</span></div>

            <div class="dtail_pdf"><span>{$title}</span><a href="{$filepaths}" target="_blank" class="download">立即下载</a><div class="clear"></div></div>

        </div>

        <?php

        if($username){ $malluid = get_user($username); }

        ?>

        {if $malluid > 0 }

        <!--{php $tags=tag("table=comchild&condition=userid=$malluid&order=listorder desc&template=null");}-->

        {/if}

        {if $tags}

        <div class="oilbor oilmgbt">

        	<div class="tycut dtailcut"><span class="sp1">供货商联系方式</span></div>

            <div class="dtailtjpj dtaillxfs">

            

            	<table cellpadding="0" cellspacing="0" class="cp_list_table" width="100%">

                	<tr class="bg1">

                    	<td>国家</td>

                        <td>等级</td>

                        <td>商家名称</td>

                        <td>联系方式</td>

                    </tr>

                   {loop $tags $t}

                    <tr>

                    	<td>{$t['country']}</td>

                        <td>{$t['level']}</td>

                        <td>{$t['comname']}</td>

                        <td>{$t['tel']}</td>

                    </tr>

           {/loop}

                </table>

            </div>

        </div>

        {/if}
        
{if $tag}
<?php
$tagarr = explode(' ',$tag);
foreach($tagarr as $k => $v)
{
  $tagarrs[$k] = "'%".$v."%'";
}
$wheretag =  "title like ".implode(' OR title like ',$tagarrs);
?>
        <div class="oilbor oilmgbt">

        	<div class="tycut dtailcut"><span>相关视频</span></div>

            <div class="dtailtjpj nr_video">

            	<ul>

                   <!--{tag("moduleid=14&condition=status=3 and ($wheretag )  &areaid=$cityid&pagesize=4&order=addtime desc&template=list-video2", -2)}-->



                </ul>

            	<div class="clear"></div>

            </div>

        </div>
{/if}
    </div>

    <div class="oil_tyright">

    	<div class="oilbor oilmgbt">

        	<div class="tycut"><i></i>推荐产品</div>

            <div class="oiltjtw">

            	<!--{tag("moduleid=$moduleid&length=20&condition=status=3 and level=1 and thumb!=''&pagesize=4&order=".$MOD[order]."&width=105&height=78&target=_blank&template=thumb-dl")}-->

                <div class="clear"></div>

            </div>

        </div>

        <div class="oilmgbt" id="OJY_SY_1075524"></div>

        <div class="oilbor oilmgbt">

        	<div class="tycut oilqhcut"><i></i>最新资讯</div>

            <div class="oiltjtw">

                	<!--{tag("moduleid=21&condition=status=3&order=addtime desc&pagesize=10&target=_blank&class=oillistnw ulwd")}-->

            </div>

        </div>

        <div class="oilbor oilmgbt">

        	<div class="tycut"><i></i>同类产品</div>

            <div class="oiltjtw">



            	<!--{tag("moduleid=$moduleid&length=20&condition=status=3 and catid='$catid' and thumb!=''&pagesize=4&order=".$MOD[order]."&width=105&height=78&target=_blank&template=thumb-dl")}-->

                

                <div class="clear"></div>

            </div>

        </div>

        <div class="oilbor oilmgbt">

        	<div class="tycut oilqhcut"><i></i>石油百科</div>

            <div class="oiltjtw">

            	<ul class="oillistnw ulwd">

                	<!--{tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=10&order=rand()&length=20&width=120&height=90&cols=2", -2)}-->

                </ul>

            </div>

        </div>

    </div>

    <div class="clear"></div>



</div>

</div>

<script language="javascript">

$(document).ready(function(){

	$('#tjpjA a').mouseover(function(){

		$(this).addClass("selected").siblings().removeClass();

		$("#tjpjDIV > div").eq($('#tjpjA a').index(this)).show().siblings().hide();

	});

	$('#detailA a').mouseover(function(){

		$(this).addClass("selected").siblings().removeClass();

		$("#detailPIC > .dtimg").eq($('#detailA a').index(this)).show().siblings().hide();

	});

	$('#tjpj_list').scrollbox({

		autoPlay: true,

		direction: 'h',

		distance: 175

	});

	$('#leftdirectiontjpj').click(function () {

		$('#video_list').trigger('backward');

	});

	$('#rightdirectiontjpj').click(function () {

		$('#tjpj_list').trigger('forward');

	});

	$('#tjpj_listone').scrollbox({

		autoPlay: true,

		direction: 'h',

		distance: 175

	});

	$('#leftdirectiontjpjone').click(function () {

		$('#tjpj_listone').trigger('backward');

	});

	$('#rightdirectiontjpjone').click(function () {

		$('#tjpj_listone').trigger('forward');

	});

});

</script>

<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>


{template 'footer'}
<script type="text/javascript">BAIDU_CLB_fillSlotAsync('1075519','OJY_SY_1075519');</script>
<script type="text/javascript">BAIDU_CLB_fillSlotAsync('1075524','OJY_SY_1075524');</script>


