<div class="oil_tuwen_gg">
    	<div class="gg_title">热门<br />产品</div>
        <div class="gg_cp_list">
        <!--{php $tags2=tag("moduleid=16&condition=status=3 and level=1&areaid=$cityid&pagesize=3&order=addtime desc&template=null")}-->
          {loop $tags2 $t}
        	<div class="lt_items"><div class="picdv oilbor">
              <a href="{$t[linkurl]}" target="_blank"  title="{$t[alt]}"><img src="{DT_SKIN}images/pic19.jpg" /></a></div><div class="nrdv"><h2><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></h2><p>{dsubstr($t[description],30,'')}</p></div></div>
            {/loop}
            
        </div>
        <div class="gg_title">热门<br />资讯</div>
        <div class="gg_news">
        	<ul class="oillistnw">
            <!--{tag("moduleid=21&condition=status=3 and addtime>$today_endtime-30*86400&order=hits desc&pagesize=4&target=_blank")}-->
            </ul>
        </div>
    </div>