<div class="oil_tuwen_gg">
    	<div class="gg_title">热门<br />产品</div>
        <div class="gg_cp_list">
        	<div class="lt_items"><div class="picdv oilbor"><a href="#"><img src="images/pic19.jpg" /></a></div><div class="nrdv"><h2><a href="#">储油设施不足制约中国扩充战略石油储备</a></h2><p>随着油价暴跌，中国这个全球最大的...</p></div></div>
            <div class="lt_items"><div class="picdv oilbor"><a href="#"><img src="images/pic19.jpg" /></a></div><div class="nrdv"><h2><a href="#">储油设施不足制约中国扩充战略石油储备</a></h2><p>随着油价暴跌，中国这个全球最大的...</p></div></div>
            <div class="lt_items"><div class="picdv oilbor"><a href="#"><img src="images/pic19.jpg" /></a></div><div class="nrdv"><h2><a href="#">储油设施不足制约中国扩充战略石油储备</a></h2><p>随着油价暴跌，中国这个全球最大的...</p></div></div>
        </div>
        <div class="gg_title">热门<br />资讯</div>
        <div class="gg_news">
        	<ul class="oillistnw">
                <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                <li><a href="#">委内瑞拉将与中国讨论石油项目融资情况</a></li>
                <li><a href="#">国内首个含油废弃物一体化解决方案发布</a></li>
                <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                <li><a href="#">委内瑞拉将与中国讨论石油项资情况</a></li>
            </ul>
        </div>
    </div>