{php //$CSS = array('index');}
{template 'header'}
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.scrollbox.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.nivo.slider.pack.js"></script>
<script language="javascript">
$(document).ready(function(){
	$('#cplistA ul li').mouseover(function(){
		$(this).addClass("selected").siblings().removeClass("selected");
		$("#cplistDIV .cptylist").eq($('#cplistA ul li').index(this)).show().siblings().hide();
	});
	$('#searchA ul li').mouseover(function(){
		$(this).addClass("selected").siblings().removeClass("selected");
		$("#searchDIV .search_ct_dv").eq($('#searchA ul li').index(this)).show().siblings().hide();
	});
	$('#slider').nivoSlider();
	$('#video_list').scrollbox({
		autoPlay: true,
		direction: 'h',
		distance: 180
	});
	$('#leftdirection').click(function () {
		$('#video_list').trigger('backward');
	});
	$('#rightdirection').click(function () {
		$('#video_list').trigger('forward');
	});
	
});
</script>
<div class="oil_main">
	<div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic6.jpg" /></a></div>
    <div class="oilbor cpdv oilmgbt">
    	<div class="oil_cp_qh" id="cplistA">
        	<ul>
            
            		{php $mid = 16;}

                {php $child = get_maincat(0, $mid, 1);}

                {php $n=1;}

                {loop $child $i $c}
                {if $i<6}
                <li {if $n==1}class="selected"{/if}><a href="#">{set_style($c[catname], $c[style])}</a></li>{/if}
                {php $n++} 
                 {/loop}
            </ul>
            <div class="clear"></div>
        </div>
        <div id="cplistDIV">
         {php $n=1;}

                {loop $child $i $c}
                {if $i<6}
                
        	<div class="cptylist" {if $n>1} style="display:none" {/if}>
                <dl class="oil_cp_list">
                    <dt>功能分类</dt><dd class="clicklf"><a href="#"></a></dd>
                    <dd class="qhnr">
                    {php $sub = get_maincat($c[catid], $mid, 1);}
                        <ul>
                        {if $sub}
                        {loop $sub $j $s}
                            <li><p class="p1"><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}">{set_style($s[catname], $s[style])}</a></p></li>
{/loop}
{else}
<li><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></li>
{/if}
                        </ul>
                    </dd>
                    <dd class="clicklf clickrg"><a href="#"></a></dd>
                </dl>
                
                <dl class="oil_cp_list">
                    <dt>名称分类</dt><dd class="clicklf"><a href="#"></a></dd>
                    <dd class="qhnr">
                    {php $sub = get_maincat($c[catid], $mid, 1);}
                        <ul>
                        {if $sub}
                        {loop $sub $j $s}
                        {php $sub2 = get_maincat($s[catid], $mid, 1);}
                        {loop $sub2 $j2 $s2}
                            <li><p class="p1"><a href="{$MODULE[$mid][linkurl]}{$s2[linkurl]}">{set_style($s2[catname], $s2[style])}</a></p></li>
{/loop}
{/loop}
{else}
<li><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></li>
{/if}
                        </ul>
                    </dd>
                    <dd class="clicklf clickrg"><a href="#"></a></dd>
                </dl>
                
                <dl class="oil_cp_list oilbor0">
                    <dt><a href="{$MODULE[13][linkurl]}">品牌</a></dt>
                    <dd class="oilbrand">
                    	
                        <!--{tag("moduleid=13&condition=status=3 and level>0&areaid=$cityid&pagesize=6&order=addtime desc&width=120&height=40&cols=2&target=_blank&template=list-brand-list")}-->
                    </dd>
                </dl>
            </div>
            {/if}
    {php $n++} 
                 {/loop}
            
        </div>
    </div>
    <div class="oil_index_content oilmgbt">
    	<div class="oil_tab_left">
            <!--{tag("moduleid=21&condition=status=3 and level=2 and thumb!=''&areaid=$cityid&order=itemid  desc&pagesize=4&width=330&height=250&target=_blank&template=slide")}-->
            <div class="oilbor cpdv searchhg oilmgbt">
            	<div class="oil_cp_qh searchA" id="searchA">
                    <ul><li class="selected"><a href="#">快速查询</a></li><li><a href="#">品牌</a></li><li class="last"><a href="#">件号</a></li></ul>
                    <div class="clear"></div>
                </div>
                <div id="searchDIV">
                    <div class="search_ct_dv">
                        <div class="scdv"><input type="text" name="searchone" class="select_ty" placeholder="请选择" id="selectxt1" onfocus="mfselect('selectxt1','selecdv1')" /><div id="selecdv1"><p>旋塞阀P51</p><p>低压弯头313</p></div></div>
                        <div class="scdv"><input type="text" name="searchtwo" class="select_ty" placeholder="请选择" id="selectxt2" onfocus="mfselect('selectxt2','selecdv2')" /><div id="selecdv2"><p>旋塞阀P51</p><p>低压弯头313</p></div></div>
                        <div class="scdv sc_qd"><input type="text" name="searchthree" class="select_ty" placeholder="请选择" id="selectxt3" onfocus="mfselect('selectxt3','selecdv3')" /><div id="selecdv3"><p>旋塞阀P51</p><p>低压弯头313</p></div><input type="button" name="lfbtn" value="查询" class="lf_sc_btn" /></div>
                        <div class="searchhotcp"><span>热门产品</span><span class="hotlist"><a href="#">旋塞阀P51</a><a href="#">接头P51</a><a href="#">低压弯头313</a><a href="#">高压弯头 311</a><a href="#">旋塞阀P51</a><a href="#">接头P51</a><a href="#">低压弯头313</a><a href="#">高压弯头 311</a></span><div class="clear"></div></div>
                    </div>
                    <div class="search_ct_dv" style="display:none;">
                        <div class="scdv sc_qd"><form action="{$MODULE[13][linkurl]}search.php" target="_blank"><input type="text" name="kw" class="select_ty" placeholder="请输入品牌名称" id="selectxt4" onfocus="mfselect('selectxt4','selecdv4')" /><input type="submit" name="lfbtn" value="查询" class="lf_sc_btn" /></form></div>
                        <div class="searchhotcp sc_mg_bt"><span>热门品牌</span><span class="hotlist"><a href="#">旋塞阀P51</a><a href="#">接头P51</a><a href="#">低压弯头313</a><a href="#">高压弯头 311</a><a href="#">旋塞阀P51</a><a href="#">接头P51</a><a href="#">低压弯头313</a><a href="#">高压弯头 311</a></span><div class="clear"></div></div>
                        <ul class="oillistnw lfulmg">
                            <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                            <li><a href="#">委内瑞拉将与中国讨论石油项目融资情况</a></li>
                            <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                        </ul>
                    </div>
                    <div class="search_ct_dv" style="display:none;">
                        <div class="scdv sc_qd"><form action="{$MODULE[16][linkurl]}search.php" target="_blank"><input type="text" name="kw" class="select_ty" placeholder="请输入件号" id="selectxt5" onfocus="mfselect('selectxt5','selecdv5')" /><div id="selecdv5"><p>旋塞阀P51</p><p>低压弯头313</p></div><input type="submit" name="lfbtn" value="查询" class="lf_sc_btn" /></form></div>
                        <div class="searchhotcp sc_mg_bt"><span>热门产品</span><span class="hotlist"><a href="#">旋塞阀P51</a><a href="#">接头P51</a><a href="#">低压弯头313</a><a href="#">高压弯头 311</a><a href="#">旋塞阀P51</a><a href="#">接头P51</a><a href="#">低压弯头313</a><a href="#">高压弯头 311</a></span><div class="clear"></div></div>
                        <ul class="oillistnw lfulmg">
                            <li><a href="#">中国石化召开四川盆地及周缘天然气勘探突破推进会</a></li>
                            <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                            <li><a href="#">中海油坦言暂时搁置安徽页岩气项目 因资源量不足</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="oillistnw lfulmg">
                <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                <li><a href="#">委内瑞拉将与中国讨论石油项目融资情况</a></li>
            </ul>
        </div>
        <div class="oil_news_ct">
        	<!--{tag("moduleid=21&condition=status=3 and level=5&areaid=$cityid&order=addtime desc&pagesize=1&target=_blank&template=list-hl&start=0")}-->
            <div class="hotwords"><!--{tag("moduleid=21&condition=status=3 and level=4&areaid=$cityid&pagesize=4&order=addtime desc&target=_blank&template=list-hlr2&length=12")}--></div>
           <!--{tag("moduleid=21&condition=status=3 and level=5&areaid=$cityid&order=addtime desc&pagesize=2&target=_blank&template=list-hl&start=1")}-->
            
                <!--{tag("moduleid=21&condition=status=3 and level>0&areaid=$cityid&pagesize=10&length=54&order=addtime desc&template=list&class=oillistnw lfulmg oilmgbt&width=120&height=90")}-->
            <div class="oilbor bortop2">
            	<div class="oil_index_cut">最新招标<em>/ Tender</em><a href="#" class="amore">更多>></a></div>
                <div class="oilpddv">
                    <ul class="oillistnw lfulmg">
                       <!--{tag("moduleid=21&condition=status=3&areaid=$cityid&pagesize=5&order=rand()&length=40&width=120&height=90&cols=2", -2)}-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="oil_ct_rg">
        	<div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic8.jpg" /></a></div>
            <div class="oilbor bortop2">
            	<div class="imgalign"><a href="#"><img src="{DT_SKIN}images/pic9.jpg" /></a></div>
                <div class="oilpddv">
                    <ul class="oillistnw lfulmg ulwdrg">
                        <li><a href="#">中国石化召开四川盆地</a></li>
                        <li><a href="#">中海油成全球第二大LNG</a></li>
                        <li><a href="#">中海油坦言暂时搁置安徽</a></li>
                        <li><a href="#">亚洲380-cst燃料油现货</a></li>
                        <li><a href="#">埃克森美孚CEO：别幻想</a></li>
                        <li><a href="#">亚洲380-cst燃料油</a></li>
                        <li><a href="#">埃克森美孚CEO：别幻想</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic10.jpg" /></a></div>
    <div class="oilbor bortop2 oilmgbt">
    	<div class="oil_index_cut">油气视频<em>/ Video</em><div class="hotvideo"><span>热门</span>
        {php $videochild = get_maincat(0, 14, 1);}
        {php $n=1;}
                {loop $videochild $i $c}
                {if $i<10 }
        <a href="{$MODULE[14][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a>|
        {/if}
        {/loop}


            
        </div><a href="{$MODULE[14][linkurl]}" class="amore">更多>></a></div>
        <div class="oil_index_videolist">
        	<a href="javascript:void(0)" class="leftdirection" id="leftdirection"></a>
            <div class="listwai" id="video_list">
              
                   <!--{tag("moduleid=14&condition=status=3&areaid=$cityid&pagesize=10&order=addtime desc&template=list-video2", -2)}-->
               
            </div>
            <a href="javascript:void(0)" class="rightdirection" id="rightdirection"></a>
        </div>
    </div>
    <div class="oil_index_content oilmgbt">
    	<div class="oil_index_bkzl">
        	<div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic14.jpg" /></a></div>
            <div class="oilbor bortop2">
            	<div class="oil_index_cut">百科资料<em>/ Encyclopedias</em><a href="{$MODULE[24][linkurl]}" class="amore">更多>></a></div>
                <div class="oilpddv">
                	<ul class="oillistnw lfulmg">
                        <!--{tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=8&order=rand()&length=20&width=120&height=90&cols=2", -2)}-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="oil_index_cpzx">
        	<div class="oilbor bortop2">
            	<div class="oil_index_cut">产品资讯<em>/ Product information</em><a href="#" class="amore">更多>></a></div>
                <div class="oilpddv">
                	<!--{tag("moduleid=11&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=4&template=thumb-special&class=cpzx_dl&width=115&height=78&length=210")}-->
            
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic10.jpg" /></a></div>
    <div class="oil_index_content oilmgbt">
    	<div class="oil_index_cpzx oil_index_zh">
        	<div class="oilbor bortop2">
            	<div class="oil_index_cut">展会<em>/ Exhibition</em><a href="{$MODULE[8][linkurl]}" class="amore">更多>></a></div>
                <div class="oilpddv">
                
                   <!--{tag("moduleid=8&condition=status=3 and level>0&areaid=$cityid&pagesize=4&order=addtime desc&template=thumb-exhibit&class=cpzx_dl&width=120&height=90")}-->
                </div>
            </div>
        </div>
        <div class="oil_index_bkzl oil_index_zt">
            <div class="oilbor bortop2">
            	<div class="oil_index_cut">专题<em>/ Special topics</em><a href="{$MODULE[11][linkurl]}" class="amore">更多>></a></div>
                <div class="oilpddv">
                	<!--{tag("moduleid=11&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=4&template=thumb-special&class=cpzx_dl zt_dl&width=115&height=78&length=80")}-->
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="oilbor bortop2 oilmgbt">
    	<div class="oil_index_cut">友情链接<em>/ Video</em><a href="#" class="amore">更多>></a></div>
        <div class="index_links">
         <!--{php $tags = tag("table=link&condition=status=3 and level='1' and typeid=5&areaid=$cityid&pagesize=40&order=listorder desc,itemid desc&template=null")}-->
        	{loop $tags $t}
              <a href="{$t[linkurl]}" target="_blank"  title="{$t[alt]}">{$t[title]}</a>
             {/loop}
        </div>
    </div>
</div>
{template 'footer'}