{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="oil_main">
	<div class="curPosition">当前位置<a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; <a href="{$MOD[linkurl]}search.php">搜索</a></div>
	{template 'mall/top_hot'}
    <div class="oil_tyleft oil_cpleft">
    	<div class="oilbor oilmgbt">
    		<div class="oil_cpsx">产品筛选<span>（共377734个产品）</span></div>
            <div class="cpsx_items">
            	<div class="sx_mc">品牌：</div><div class="sx_rg"><a href="#">WEIRSPM</a><a href="#">中国石油</a><a href="#">中国石化</a><a href="#">Alllson</a><a href="#">FMC</a><a href="#">WEIRSPM</a><a href="#">中国石油</a><a href="#">中国石化</a><a href="#">Alllson</a><a href="#">FMC</a></div>
                <div class="clear"></div>
            </div>
            <div class="cpsx_items">
            	<div class="sx_mc">价格：</div><div class="sx_rg"><a href="#">500-999万</a><a href="#">1000-1999万</a><a href="#">2000-2999万</a><a href="#">3000-3999万</a><a href="#">4000-4999万</a><a href="#">5000-5999万</a></div>
                <div class="clear"></div>
            </div>
            <div class="cpsx_items">
            	<div class="sx_mc">分类：</div><div class="sx_rg"><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">安全防护</a><a href="#">系统维护</a><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">安全防护</a><a href="#">系统维护</a><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">安全防护</a></div>
                <div class="clear"></div>
            </div>
        </div>
           {template 'list-'.$module.'2', 'tag'}
    </div>
    <div class="oil_tyright">
    	<div class="oilbor oilmgbt">
        	<div class="tycut"><i></i>名词翻译</div>
            <div class="oiltjtw">
            	<div class="mcfy_dv"><input type="text" name="fytxt" placeholder="请输入您要翻译的名词" class="fy_txt" /><input type="button" class="fy_btn" value="翻译" /></div>
                <div class="mcfy_list"><a href="#">tetrahedrite<font> - 黝铜矿</font></a></div>
                <div class="mcfy_list"><a href="#">tetrahedral network<font> - 四面体网络</font></a></div>
                <div class="mcfy_list"><a href="#">tetrahedral pore<font> - 四面体孔隙</font></a></div>
                <div class="mcfy_list"><a href="#">tetrahedral<font> - 四面体的</font></a></div>
                <div class="mcfy_list"><a href="#">tetrahedrite<font> - 黝铜矿</font></a></div>
            </div>
        </div>
        <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic5.jpg" /></a></div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>百度百科</div>
            <div class="oiltjtw">
            	<ul class="oillistnw ulwd">
                	<li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                    <li><a href="#">委内瑞拉将与中国讨论石油项目融资情况</a></li>
                    <li><a href="#">国内首个含油废弃物一体化解决方案发布</a></li>
                    <li><a href="#">中海油成全球第二大LNG进口商 去年进口1411万吨</a></li>
                    <li><a href="#">委内瑞拉将与中国讨论石油项资情况</a></li>
                </ul>
            </div>
        </div>
        <div class="oilbor oilmgbt"><a href="#"><img src="{DT_SKIN}images/kefu.gif" /></a></div>
    </div>
    <div class="clear"></div>
</div>
{template 'footer'}