{template 'header'}
<div class="oil_main">
	<div class="curPosition">当前位置：<a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a>  </div>
	{template 'mall/top_hot'}
    
    
    <div class="video_menu oilmgbt" style="display:none"><a href="#">上游产品</a><a href="#">下游产品</a><a href="#">系统设备</a><a href="#">上游产品</a><a href="#">系统设备</a><a href="#">下游产品</a></div>
    {if $MOD[page_icat]}
    {loop $maincat $i $c}
    <!-- 产品列表<start>-->
    <div class="video_listdv oilmgbt">
    	<div class="videocut oilmgbt"><span><a href="{$MOD[linkurl]}{$c[linkurl]}">{$c[catname]}</a></span>
        
         <!--{php tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-60*86400&catid=".$c[catid]."&areaid=$cityid&order=hits desc&pagesize=10&template=null")}-->
         {if $tags}
        <div class="hotsp">点播排行：
      
       {loop $tags $i $t} <a href="{$t[linkurl]}" target="_blank">{$t[title]}</a>  {/loop}</div>
       {else}
        <!--{php $child_cats = get_maincat($c[catid], $moduleid, 1);}-->
       <div class="hotsp">热门分类：
      {loop $child_cats $i $t} {if $i < 8}<a href="{$MOD[linkurl]}{$t[linkurl]}" target="_blank">{$t[catname]}</a>{/if}  {/loop}</div>
       {/if}
       <a href="{$MOD[linkurl]}{$c[linkurl]}" class="videomore">更多>></a></div>
        <div class="video_nr">
        	<div class="nr_lf">
            <!--{php $tags=tag("moduleid=$moduleid&condition=status=3 and level=1&catid=".$c[catid]."&areaid=$cityid&order=".$MOD[order]."&length=30&pagesize=1&template=null")}-->
           {loop $tags $i $t} <a href="{$t[linkurl]}" target="_blank"><img src="{$t[thumb]}" width="399" height="288" alt="{$t[alt]} ({$t[hits]}播放)"/><span>{$t[title]}</span></a> {/loop}</div>
            <div class="nr_rg nr_video">
            	<!--{tag("moduleid=$moduleid&condition=status=3&catid=".$c[catid]."&areaid=$cityid&order=".$MOD[order]."&length=20&width=187&height=90&pagesize=6&datetype=3&lazy=$lazy&template=list-video2")}-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- 产品列表<end>-->
    {/loop}
    {/if}
    
</div>
{template 'footer'}
