{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="oil_main">
	<div class="curPosition">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; {$title}</div>
	
    <div class="video_play">
    	<div class="play_left">
        	{template 'content', 'chip'}
        </div>
        <div class="play_right">
        	<div class="playcut" id="playA"><a href="{$MODULE[21][linkurl]}" class="selected">国内新闻</a><a href="#">相关视频</a><a href="#">石油百科</a></div>
            <div id="playDIV">
            	<ul class="gnnews">
                <!--{php $tags = tag("moduleid=21&condition=status=3  and thumb<>''&catid=77&areaid=$cityid&order=addtime desc&length=20&width=187&height=90&pagesize=5&datetype=3&lazy=$lazy&template=null")}-->
                {loop $tags $i $t}
                	<li><a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="107" height="61" alt="{$t[alt]}"/></a><span><a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a><p>{dsubstr($t[introduce], 30, '...')} </p><p>发布日期：{timetodate($t[addtime], 3)}</p></span></li>
               {/loop}    
                </ul>
                <ul class="gnnews" style="display:none;">
                	 <!--{php $tags = tag("moduleid=$moduleid&condition=status=3  and thumb<>''&areaid=$cityid&order=addtime desc&length=20&width=187&height=90&pagesize=5&datetype=3&lazy=$lazy&template=null")}-->
                {loop $tags $i $t}
                	<li><a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="107" height="61" alt="{$t[alt]}"/></a><span><a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a><p>{dsubstr($t[introduce], 30, '...')} </p><p>发布日期：{timetodate($t[addtime], 3)}</p></span></li>
               {/loop}    
                </ul>
                <ul class="gnnews" style="display:none;">
                	 <!--{php $tags = tag("moduleid=24&condition=status=3  and thumb<>''&areaid=$cityid&order=addtime desc&length=20&width=187&height=90&pagesize=5&datetype=3&lazy=$lazy&template=null")}-->
                {loop $tags $i $t}
                	<li><a href="{$t[linkurl]}"><img src="{$t[thumb]}" width="107" height="61" alt="{$t[alt]}"/></a><span><a href="{$t[linkurl]}" title="{$t[alt]}"{if $target} target="{$target}"{/if}>{$t[title]}</a><p>{dsubstr($t[introduce], 30, '...')} </p><p>发布日期：{timetodate($t[addtime], 3)}</p></span></li>
               {/loop}    
                </ul>
            </div>
        </div>
    </div>
    {if $content}
    <!-- 视频介绍-->
    <div class="video_gg">
        <div class="video_spjs spjslf">
            <div class="spjscut"><span>{$MOD[name]}介绍</span></div>
            <div class="spjsnr">
                <div class="nrrg">
                    <h2>{$title}<span>(上传时间：{$adddate})</span></h2>
                    <p>{$content}</p>
                </div>
            </div>
        </div>
        <div class="spjsrg"><img src="{DT_SKIN}images/pic5.jpg" /></div>
        <div class="clear"></div>
    </div>
    {/if}
    
    {if $tag}
    <!-- 相关产品-->
    <div class="video_spjs">
    	<div class="spjscut"><span>相关{$MOD[name]}</span></div>
        <div class="nr_video play_xgsp">
            <!--{tag("moduleid=$moduleid&condition=status=3 and tag='$tag' and addtime>$addtime&areaid=$cityid&pagesize=5&order=addtime desc&template=list-video2", -2)}-->
		<!--{tag("moduleid=$moduleid&condition=status=3 and tag='$tag' and addtime<$addtime&areaid=$cityid&pagesize=5&order=addtime desc&template=list-video2", -2)}-->
            <div class="clear"></div>
        </div>
    </div>
    {/if}
</div>

<script language="javascript">
$(document).ready(function(){
	$('#oilrgqhA a').mouseover(function(){
		$(this).addClass("selected").siblings().removeClass();
		$("#oilrgqhUL > ul").eq($('#oilrgqhA a').index(this)).show().siblings().hide();
	});
	$('#playA a').mouseover(function(){
		$(this).addClass("selected").siblings().removeClass();
		$("#playDIV > ul").eq($('#playA a').index(this)).show().siblings().hide();
	});
});
</script>
{if $video_i}<script type="text/javascript" src="{DT_STATIC}file/script/player.js"></script>{/if}
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}

{template 'footer'}
{if $video_i}
<script type="text/javascript">
if(UA.match(/(iphone|ipad|ipod|android|mac os)/i)) {
	if(Dd('player').innerHTML.indexOf('embed')!=-1) {
		Dd('player').innerHTML = '<div class="player">'+player('{$video_s}', {$video_w}, {$video_h}, 0, {$video_a})+'</div>';
	}
}
</script>
{/if}
