{template 'header'}
<div class="syct">
	<div class="bsdlf">
		
		<div class="c_b"></div>
		{if $MOD[page_icat]}
		<table cellpadding="0" cellspacing="0" width="100%">
		{loop $childcat $i $c}
		{if $i%2==0}<tr>{/if}
		<td valign="top" width="355">
			<div class="bsdone">
                <div class="box_head"><span class="f_r"><a href="{$MOD[linkurl]}{$c[linkurl]}">更多&raquo;</a></span><strong>{$c[catname]}</strong></div>
                <div class="box_body li_dot f_gray rank_list"><!--{tag("moduleid=$moduleid&catid=".$c[catid]."&condition=status=3&areaid=$cityid&order=".$MOD[order]."&pagesize=".$MOD[page_icat]."&datetype=2&target=_blank")}--></div>	
            </div>		
		</td>
		{if $i%2==0}<td>&nbsp;</td>{/if}
		{if $i%2==1}</tr>{/if}
		{/loop}
		</table>
		{/if}
	</div>
	<div class="list_rg">
    	<div class="listrg">
		{if $MOD[show_icat]}
		<div class="box_head"><div><strong>按分类浏览</strong></div></div>
		<div class="box_body">
		<table width="100%" cellpadding="3">
		{loop $maincat $k $v}
		{if $k%2==0}<tr>{/if}
		<td><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>
		{if $k%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>
		</div>
		{/if}
        <div class="listrg">
		{if $MOD[page_ihits]}
		<div class="box_head"><div><strong>点击排行</strong></div></div>
		<div class="box_body">
		<div class="rank_list"><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=".$MOD[page_ihits]."&target=_blank")}--></div>
		</div>
        </div>
		{/if}
	</div>
</div>
{template 'footer'}