{template 'header'}
<div class="oil_main header_pd_tp">
	<div class="oil_tyleft detailbor0">
		<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
		{if $MOD[page_islide]}
		<td valign="top" width="355">
			<!--{tag("moduleid=$moduleid&condition=status=3 and level=2 and thumb!=''&areaid=$cityid&order=".$MOD[order]."&pagesize=".$MOD[page_islide]."&width=355&height=250&target=_blank&template=slide")}-->
		</td>
		<td width="10"></td>
		{/if}
		<td valign="top">
			<div class="headline">
			<!--{tag("moduleid=$moduleid&condition=status=3 and level=5&areaid=$cityid&order=".$MOD[order]."&pagesize=1&target=_blank&template=list-hl")}-->
			<!--{tag("moduleid=$moduleid&condition=status=3 and level=4&areaid=$cityid&pagesize=2&order=".$MOD[order]."&target=_blank&template=list-hlr&cols=2")}-->
			</div>
			<div class="b5"></div>
			<div class="li_dot new_wd news_index_ulheader">
			<!--{tag("moduleid=$moduleid&condition=status=3 and level=1&areaid=$cityid&order=".$MOD[order]."&pagesize=7&datetype=2&target=_blank")}-->
			</div>
		</td>
		</tr>
		</table>
		{if $MOD[page_icat]}
		<table cellpadding="0" cellspacing="0" width="100%">
		{loop $childcat $i $c}
		{if $i%2==0}<tr>{/if}
		<td valign="top" width="365">
			<div class="oilbor oilmgbt">
                <div class="tycut articlecut"><i></i>{$c[catname]}<span class="f_r"><a href="{$MOD[linkurl]}{$c[linkurl]}">更多&raquo;</a></span></div>
                <div class="oillistnw lfulmg article_list_li"><!--{tag("moduleid=$moduleid&length=40&catid=".$c[catid]."&condition=status=3&areaid=$cityid&order=".$MOD[order]."&pagesize=".$MOD[page_icat]."&datetype=2&target=_blank")}--></div>	
            </div>		
		</td>
		{if $i%2==0}<td>&nbsp;</td>{/if}
		{if $i%2==1}</tr>{/if}
		{/loop}
		</table>
		{/if}
	</div>
	<div class="oil_tyright">
    	<div class="oilbor oilmgbt">
		{if $MOD[show_icat]}
		<div class="tycut"><i></i>按分类浏览</div>
		<div>
		<table width="100%" cellpadding="3" class="flll_td">
		{loop $maincat $k $v}
		{if $k%2==0}<tr>{/if}
		<td height="30"><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>
		{if $k%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>
		</div>
		{/if}
        <div class="oilbor oilmgbt">
		{if $MOD[page_irecimg]}
		<div class="tycut"><i></i>推荐图文</div>
		<div class="oiltjtw"><!--{tag("moduleid=$moduleid&length=20&condition=status=3 and level=3 and thumb<>''&areaid=$cityid&pagesize=".$MOD[page_irecimg]."&order=".$MOD[order]."&width=120&height=90&cols=2&target=_blank&template=thumb-dl")}--><div class="clear"></div></div>
		</div>
		{/if}
        <div class="oilbor oilmgbt">
		{if $MOD[page_ihits]}
		<div class="tycut"><i></i>点击排行</div>
		<div class="oillistnw lfulmg article_list_li">
		<!--{tag("moduleid=$moduleid&length=26&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=".$MOD[page_ihits]."&target=_blank")}-->
		</div>
        </div>
		{/if}
	</div>
    <div class="clear"></div>
</div>
{template 'footer'}