{template 'headernew'}
<div class="oil_main">
	<div class="curPosition">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}</div>
    <div class="oil_tyleft">
    	<div class="tycut"><i></i>{$CAT[catname]}</div>
        
        {if $tags}{template 'list-catnew', 'tag'}{/if}
    </div>
    <div class="oil_tyright">
    {if $MOD[page_lrecimg]}
    	<div class="oilbor oilmgbt">
        	<div class="tycut"><i></i>推荐图文</div>
            <div class="oiltjtw">
            	<!--{tag("moduleid=$moduleid&length=20&condition=status=3 and level=3 and thumb!=''&catid=$catid&pagesize=".$MOD[page_lrecimg]."&order=".$MOD[order]."&width=120&height=90&cols=2&target=_blank&template=thumb-dl")}-->
                <div class="clear"></div>
            </div>
        </div>
        {/if}
        <div class="oilmgbt"><a href="#"><img src="{DT_SKIN}images/pic5.jpg" /></a></div>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut" id="oilrgqhA">{if $MOD[page_lrec]}<a href="#" class="selected">推荐{$MOD[name]}</a>{/if}{if $MOD[page_lhits]}<a href="#">点击排行</a>{/if}</div>
            <div class="oiltjtw" id="oilrgqhUL">
            	<!--{tag("moduleid=$moduleid&condition=status=3 and level=1&catid=$catid&order=".$MOD[order]."&pagesize=".$MOD[page_lrec]."&target=_blank&class=oillistnw ulwd")}-->
               <!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-30*86400&catid=$catid&order=hits desc&pagesize=".$MOD[page_lhits]."&target=_blank&class=oillistnw ulwd&hide=1")}-->
            </div>
        </div>
        <script language="javascript">
$(document).ready(function(){
	$('#oilrgqhA a').mouseover(function(){
		$(this).addClass("selected").siblings().removeClass();
		$("#oilrgqhUL > ul").eq($('#oilrgqhA a').index(this)).show().siblings().hide();
	});
});
</script>
        <div class="oilbor oilmgbt">
        	<div class="tycut oilqhcut"><i></i>百度百科</div>
            <div class="oiltjtw">
            	<ul class="oillistnw ulwd">
                	<!--{tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=5&order=rand()&length=20&width=120&height=90&cols=2", -2)}-->
                </ul>
            </div>
        </div>
        <div class="oilbor oilmgbt">
        	<div class="tycut"><i></i>推荐产品</div>
            <div class="oiltjtw">
            	<!--{tag("moduleid=16&length=20&condition=status=3 and level=1 and thumb!=''&pagesize=".$MOD[page_lrecimg]."&order=".$MOD[order]."&width=120&height=90&cols=2&target=_blank&template=thumb-dl")}-->
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{template 'footernew'}
